* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 1vw;
}

.container {
  max-width: 50vw;
  padding: 3.75vw 4.1875vw 3.6875vw 4.25vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F4F5FC;
}

.side__block {
  max-width: 8.575vw;
  width: 100%;
  background-color: #5A61ED;
  height: 30vw;
}

.side__block--text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 3.0625vw;
  line-height: 3.9375vw;
  letter-spacing: 0.03125vw;
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 100%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  width: 100%;
  padding: 1.40625vw 0 0 0.40625vw;
}

.content__block {
  padding: 2.4375vw 1.375vw 2.0625vw 1.25vw;
  width: 100%;
  background-color: #FFF;
  position: relative;
}

.content__block::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../image/background.svg");
  background-repeat: no-repeat;
  background-position: right 0vw bottom 0vw;
  position: absolute;
  top: 0;
  left: 0;
}

.content__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1;
}

.content__info {
  margin-bottom: 1.25vw;
}

.content__info--text {
  font-size: 0.875vw;
  line-height: 1.02563vw;
}

.content__info--text-bold {
  color: #111111;
  font-size: 1.375vw;
  line-height: 1.61125vw;
  letter-spacing: -0.02875vw;
  font-weight: 700;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__wrapper:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.content__wrapper--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__wrapper--wrapper input {
  width: 0.75vw;
  height: 0.75vw;
  margin-right: 0.375vw;
}

.content__wrapper--wrapper .content__wrapper--radio {
  font-size: 0.875vw;
  line-height: 1vw;
  margin-top: 0.48125vw;
}

.content__wrapper--wrapper .content__wrapper--radio:first-child {
  margin-right: 1.1875vw;
}

.content__wrapper--blocks {
  max-width: 14.65625vw;
  width: 100%;
  margin-bottom: 1.0375vw;
}

.content__wrapper--blocks input {
  width: 100%;
  background: transparent;
}

.content__wrapper--text {
  font-size: 0.75vw;
  line-height: 0.87875vw;
  color: #7C7C7C;
  margin-bottom: 0.30625vw;
}

.content__wrapper--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__wrapper--input {
  font-size: 0.875vw;
  line-height: 1.02563vw;
  color: #111111;
  border: none;
  border-bottom: 0.04375vw solid #F2F2F2;
  outline: none;
  font-weight: 700;
  padding-bottom: 0.39375vw;
}

.content__wrapper--ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__wrapper--ask p, .content__wrapper--ask a {
  font-size: 0.8125vw;
  line-height: 0.9375vw;
}

.content__wrapper--ask a {
  color: #5A61ED;
}

.content__wrapper--button {
  padding: 0.4375vw 1.625vw 0.4375vw 1.5625vw;
  background-color: #5A61ED;
  color: #fff;
  border: none;
  font-family: 'PT Sans';
  font-size: 0.875vw;
  line-height: 1.1325vw;
  font-weight: 400;
  cursor: pointer;
}

.select-days, .select-month, .select-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  border: none;
  max-width: 3.5vw;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../image/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right top 50%, 0 0;
  background-size: .65em auto, 100%;
  padding: 0.39375vw 0 0.39375vw 0;
  border-bottom: 0.04375vw solid #F2F2F2;
  font-weight: 700;
}

.select-days {
  max-width: 3.5vw;
  width: 100%;
  margin-right: 0.6175vw;
}

.select-month {
  max-width: 5.6875vw;
  width: 100%;
  margin-right: 0.6175vw;
}

.select-years {
  max-width: 4.22938vw;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */